<h2>Pick up and Lay Down (PULD) Cast</h2>
<ol>
    <li>Introduction to cast.</li>
    <li>Instructor demonstrates cast.</li>
       <li>Instructor describes the cast</li>
        <ol>
            <il>The cast consists of a single back cast and a single forward cast, beginning and ending with the line on the water.  It is the  starting point for learning all overhead casts.</il>
        </ol>
    <li>Instructor states purposes of the PULD cast.</li>
    <ol>
        <li>The purpose of the cast is to teach rod loading and unloading, the pause length between back cast and forward cast, and how to control the size of the loops</li>
        <li>In fishing this cast achieves greater accuracy than the roll cast and allows the quick and efficient repositioning of the fly on the water.</li>
    </ol>
</ol>


<ol>
    <li>Set-up for the cast.</li>
        <ol>
            <li>Instructor pulls about 20 feet of line beyond rod tip (a little more than twice the rod length).</li>
            <li>Do not use line hand during the cast.</li>
            <li>Instructor hands the rod to the student.</li>
            <li>Show the student how to pinch line between their index finger and rod handle.</li>
            <li>Student stands square to the target.  It is OK to drop one foot back, whatever is comfortable for the student.</li>
        </ol>
</ol>


<ol>
    <li>Student performs the cast with kinesthetic assistance from instructor. This means that the instructor holds the rod either on top of the student's hand or just above the cork grip.</li>
    <ol>
        <li>Start with straight line and rod tip in the water.  Use a roll cast to straighten out the line.</li>
        <ol>
            <li>Use command: ROD TIP IN THE WATER</li>
        </ol>
    </ol>
    <li>With a firm wrist, smoothly lift the line-leader connection from the water (point out this important visual cue to the student)</li>
    <ol>
        <li>Use command: LIFT</li>
    </ol>
    <li>Without pausing, smoothly accelerate the rod to a crisp stop at the 1:00 o'clock position.  This acceleration begins when the line-leader connection leaves the water.</li>
    <ol>
        <li>Use command: ACCELERATE TO A STOP</li>
    </ol>
    <li>Pause, at the 1:00 o'clock position, to let the line unroll.  Line should look like a candy cane on its back.</li>
    <ol>
        <li>Use command: PAUSE</li>
    </ol>
    <li>Initiate forward cast by smoothly accelerating the rod to an abrupt stop at 10:00 o'clock.</li>
    <ol>
        <li>Use command: ACCELERATE TO A STOP</li>
    </ol>
    <li>Drop rod tip to the water AFTER stopping the rod and the line is in front of the rod tip.</li>
    <ol>
        <li>Use command: DROP</li>
    </ol>
</ol>


<ol>
    <li>Student now performs the cast without kinesthetic assistance from the instructor while instructor repeats the verbal commands.</li>
</ol>


<ol>
    <li>Troubleshooting the cast.</li>
    <ol>
        <li>Line is ripped off the water creating a disturbance and causing the back cast to recoil, creating slack in the line.  Fix by beginning lift slowly while increasing pressure on rod tip so rod bends gradually during acceleration.</li>
        <li>A pause is made between lift and stroke creating slack in the line.  Fix with a no-pause transition between lift and stroke.</li>
        <li>Wide loop on the back cast.  Fix by accelerating to a brisk stop with rod tip traveling back and upward as in a stabbing motion and stopping at 1:00 o'clock.</li>
        <li>Very wide loop on forward cast.  Fix is to stop the rod higher or apply more force to load the rod.</li>
        <li>A tailing loop results on forward cast.  Fix is to stop the rod lower or lessen power application with a controlled stop.</li>
    </ol>
</ol>