<h2>Salt Water Quick Cast</h2>


<ol>
    <li>Salt water quick cast</li>
    <ol>
        <li>Instructor demonstrates the cast</li>
        <li>Instructor states the purpose of the cast</li>
        <ol>
            <li>For salt water fishing, for species like tarpon and bone fish, when getting the fly to the target needs to be accomplished quickly and accurately because the window of opportunity is brief.</li>
            <li>This cast can be used on a boat deck as well as wading the flats.</li>
        </ol>
        <li>Technique with visual and verbal description</li>
        <ol>
            <li>Perform a clearing cast</li>
            <ol>
                <li>instructor demonstrates this cast, leaving extended line in the water</li>
                <li>this gives you the opportunity to calibrate distance and position with the guide, e.g. 10:00 o'clock- 50 feet</li>
                <li>it is also done to put as much line as you can comfortably cast, piled properly, on the boat deck</li>
            </ol>
            <li>Measure 14 feet of fly line, using the rod as a measuring stick</li>
            <ol>
                <li>14 feet is enough line to load the rod but not so much to catch the guide's push pole</li>
            </ol>
            <li>Secure the line between the base of the middle finger and cork handle

            </li>
            <ol>
                <li>allow the line to drag in the water</li>
            </ol>
            <li>Pinch the fly between the index finger and thumb of rod hand</li>
            <ol>
                <li>line hand is free</li>
            </ol>

            <li>Get in the Ready Position</li>
            <ol>
                <li>keep eyes on the target</li>
                <li>keep rod at 11:00 o'clock position</li>

                <ol>
                    <li>this is left of the bow of the boat</li>
                </ol>
            </ol>
            <li>Perform a roll cast to get the fly and line in the water</li>
            <ol>
                <li>release fly at the initiation of the forward cast so it lays out straight on the water</li>
            </ol>
            <li>Pick up the line and begin false casting</li>
            <ol>
                <li>slipping line on both the back cast and forward cast</li>
                <li>hauling when possible</li>
                <li>keeping eyes on the target</li>
            </ol>
            <li>Deliver the fly to target</li>
            <ol>
                <li>using the fewest number of false casts</li>
            </ol>
        </ol>
    </ol>
    <li>Questions?</li>
    <li>Practice</li>
</ol>
