<h2>Shooting Line</h2>
   <ol>
    <li>Shooting line&ndash; this is a technique that uses the line hand and is an essential skill.</li>
    <ol>
        <li>Introduction</li>
        <ol>
            <li>When fish are beyond your normal casting range and you need extra distance, that's when you need to shoot line. It looks like this...</li>
        </ol>
        <li>Instructor demonstrates</li>
        <ol>
            <li>Demonstrate shooting line</li>
        </ol>
        <li>Instructor emphasizes key element to shooting line</li>
        <ol>
            <li>Shooting line means to extend extra line at THE END of the presentation stroke.</li>
            <ol>
                <li>This means shooting line is done after the rod is stopped.</li>
            </ol>
        </ol>
        <li>Technique with visual and verbal description</li>
        <ol>
            <li>Start with line straight ahead on the water with tip low.</li>
            <li>Strip abut 6 ft of line off the reel.</li>
            <li>Grasp the line with the line hand at the same level as the rod hand.</li>
            <li>Separate your hands by about 12 inches.</li>
            <ol>
                <li>The goal is to move the line hand in unison with the rod hand-on a parallel path-during the casting stroke. (emphasize thumbnail to thumbnail)</li>
            </ol>
            <li>Initiate overhead false casts, maintaining the grasp (anchor) on the line with line hand.</li>
            <li>Shoot the line and present the fly to the target on the 3rd false cast.</li>
            <ol>
                <li>Once the rod had stopped on the presentation cast, release the grip on the line.</li>
                <li>The key here is to “Stop and then let go” It’s two separate steps. It is not “Stopletgo.”</li>
                <li>Form an "O" using the thumb and index finger of your line hand for the line to slide through.</li>
                <ol>
                    <li>This helps prevent the line from tangling on the reel, rod butt, or other items.</li>
                    <li>Big advantage to this is that you have instant line control by closing your hand.</li>
                </ol>
                <li>When the fly lands on the water, control the line with line hand and place line between handle and index finger of rod hand.</li>
                <li>Now start to strip in line by grasping the line just below the anchor point and pull it in and you slightly release the pinch against the handle.</li>
            </ol>

        </ol>
    </ol>
    <li>Questions</li>
    <li>Practice</li>
    <li>Challenges and Fixes (anticipate challenges) aka troubleshooting</li>
    <ol>
        <li>Difficulty with timing of release of line.</li>
        <ol>
            <li>Remind student to first stop the rod and then release the line.</li>
            <li>Maybe demonstrate letting the line go simultaneous to the stop while saying “Stopletgo.” It will unbend the rod prematurely and the loop will fall apart.</li>
            <li>Tell the students that it is better to let go too late rather than too early.</li>
        </ol>
        <li>False casting with too long of a line. Unable to load rod properly to shoot line.

        </li>
        <ol>
            <li>Have student cast false cast a shorter line. Tell them they can lengthen their cast when they have mastered control with the shorter distance. They will spook fish otherwise!</li>
        </ol>
    </ol>
</ol>

