<ol>
    <li>Tuck cast</li>
    <ol>
        <li>Introduction: a tuck cast allows you to get your nymphs to the bottom quickly by causing them to hit the water before your fly line does. Tuck casts are great for when you're fishing nymphs upstream and you want them to get to the bottom fast so they don't drift over the heads of your target fish. Because the fly or split shot lands first, they break right through the surface and head for the bottom without the line and leader holding them back.</li>
        <li>Technique with visual and verbal description</li>
        <ol>
            <li>The fly or shot tuck under the fly line, hit the water first with slack behind it, and get down the water column. It is not a delicate presentation but it's been called the nymph fisher's secret.</li>
            <ol>
                <li>Using an overhead cast with a wide loop, aim the line high enough above the water so the curve has room to form before the fly hits the surface; about head high.</li>
                <li>Over-power the forward stroke, stopping the rod high and even a bit earlier than you would normally.</li>
                <ol>
                    <li>This will make the leader turn over really aggressively and whip around and tuck under the fly line.</li>
                    <li>The more weight you have on your fly the better this cast works.</li>
                    <li>Adding a little upward jerk of the rod tip when the line straightens out will help the fly tuck under the line if you are using minimal weight.</li>
                </ol>
                <li>Now drop the rod tip and follow the nymph through the drift. Be sure to manage your line for optimal amount of slack.</li>
            </ol>
        </ol>
    </ol>
    <li>Questions</li>
    <li>Practice</li>
</ol>